[submodule "vcpkg/AE"]
	path = vcpkg/AE
	url = https://github.com/microsoft/vcpkg.git
[submodule "vcpkg/SE"]
	path = vcpkg/SE
	url = https://github.com/microsoft/vcpkg.git
[submodule "vcpkg/VR"]
	path = vcpkg/VR
	url = https://github.com/microsoft/vcpkg.git
