[submodule "external/sse"]
	path = CommonLib/sse
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "external/ae"]
	path = CommonLib/ae
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "external/vr"]
	path = CommonLib/vr
	url = https://github.com/mrowrpurr/CommonLibVR.git
[submodule "vcpkg/AE"]
	path = vcpkg/AE
	url = https://github.com/microsoft/vcpkg.git
[submodule "vcpkg/SE"]
	path = vcpkg/SE
	url = https://github.com/microsoft/vcpkg.git
[submodule "vcpkg/VR"]
	path = vcpkg/VR
	url = https://github.com/microsoft/vcpkg.git
